# Xrootd operator OLM Integration workflow
---
name: "Xrootd operator OLM"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  bundle:
    name: Bundle Operator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Operator SDK
        uses: shivanshs9/setup-k8s-operator-sdk@v1
        with:
          version: "^1.0.0"
      - name: Bundle the operator
        run: make bundle
